@model RoleDetailsViewModel

<div class="mt-3">
    <h1>Details</h1>
    <br />
    <h2>Role: @Model.Role.Name</h2>
    <hr />

    <div class="container mt-5 mt-sm-2">
        <div class="row">
            <div class="col-md-5">
                <h3>Active users</h3>
                @{
                    if (Model.UsersInRole == null)
                    {
                        <select class="form-select unassign-users" id="UsersToRemove" multiple="multiple" name="UsersToRemove" size=5>
                        </select>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => Model.UsersToRemove, Model.UsersInRole, null, new {multiple = "multiple", @class="form-select unassign-users", size=5 })
                    }

                }
            </div>
            <div class="col-md-1 d-grid buttons-grid pt-5 ">
                <i class="fa-solid fa-chevron-left js-assign"></i>
                <i class="fa-solid fa-chevron-right js-unassign"></i>
            </div>
            <div class="col-md-5">
                <h3>Add  users</h3>
                @{
                    if (Model.UsersNotInRole == null)
                    {
                        <select class="form-select assign-users" id="UsersToAdd" multiple="multiple" name="UsersToAdd" size=5>
                        </select>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => Model.UsersToAdd, Model.UsersNotInRole, null, new {multiple = "multiple",  @class="form-select assign-users", size=5 })
                    }

                }
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Role.Name)

</div>

@section scripts{
<script>

    $(document).ready(function(){
        let roleName = $("#Role_Name").val();

        $(".js-assign").on("click", function (){
            // get the value of the multiple select users
            let users = $(".assign-users").val();

            $.ajax({
                url: "/api/roles/assignList",
                method: "POST",
                contentType:"application/json",
                data: JSON.stringify({
                    UsersToAdd: users,
                    RoleName: roleName
                }),
                success: () =>{
                    let options = $(".assign-users").find(":selected")
                    options.each( (index, elem) => {
                        $(elem).appendTo(".unassign-users")
                    })
                    successToast("Roles Assigned!")
                },
                error: () =>{
                    errorToast()
                }
            })
        })

        $(".js-unassign").on("click", function (){
            let users = $(".unassign-users").val();
            $.ajax({
                url: "/api/roles/unassignList",
                method: "POST",
                contentType:"application/json",
                data: JSON.stringify({
                    UsersToAdd: users, // USERS TO REMOVE
                    RoleName: roleName
                }),
                success: () =>{
                    let options = $(".unassign-users").find(":selected")
                    options.each( (index, elem) => {
                        $(elem).appendTo(".assign-users")
                    })
                    successToast()

                },
                error: () =>{
                    errorToast()
                }
            })
        })





    })



</script>
}