

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#BugTrackerIcon {
    height: 2rem;
    width: auto;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--main-bg-color)
}

#issuesTable {
    border-radius: 8px;
    overflow: hidden
}

thead th {
    vertical-align: middle;
    font-size: 1rem;
}

tr {
}


#issuesTable tr:nth-child(2n) {
}

a {
}

input, textarea {
    resize: none;
}
