:root {
    --main-bg-color: #E6F5EC;
    --color-accent-light: #D9A7A5;
    --color-accent: #8F4E4A;
    --color-primary: #A5D9B9;
    --color-secondary: #E9CDBF
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#BugTrackerIcon {
    height: 3rem;
    width: auto;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

#issuesTable {
    background-color: #748C85;
    border: 1px solid #DDD;
    border-radius: 8px;
    overflow: hidden
}

thead th {
    color: #DDD;
    vertical-align: middle;
    font-size: 1rem;
}

tr {
    border: 0px solid white;
}


#issuesTable tr:nth-child(2n) {
    background-color: #C9D9D4
}
